/*--- add fonts start ---*/
@font-face {
  font-family: 'Star Jedi Hollow';
  src: url('../fonts/StarJediHollow.woff2') format('woff2'),
    url('../fonts/StarJediHollow.woff') format('woff'),
    url('../fonts/StarJediHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('../fonts/StarJedi.woff2') format('woff2'),
    url('../fonts/StarJedi.woff') format('woff'),
    url('../fonts/StarJedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*--- add fonts end ---*/

/*--- normalize start ---*/
input,
li,
ul,
div,
h1,
p,
nav,
main,
a,
header,
section,
footer,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*--- normalize end ---*/

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*--- header start ---*/
.main-header {
  max-height: 400px;
  position: sticky;
  top: -300px;
  z-index: 1;
}

.main-header__panel_top {
  max-height: 300px;
  background: center / cover no-repeat url('../img/header-bg.jpeg');
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  position: relative;
  height: 300px;
}

.main-header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Star Jedi Hollow';
  color: #FFEE58;
  font-size: 4em;
}

.main-header__panel_bottom {
  background-color: #222222;
}

/*--- main navigation start ---*/
.main-nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 1200px;
}

.main-nav li {
  font-family: 'Star Jedi';
  background-color: #222222;
  color: #aaa;
  display: table-cell;
  width: auto;
  margin: 0;
  border-left: 1px solid #333;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 300ms;
}

.main-nav li > a,
.mobile-nav__list li > a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 5px;
}

.main-nav li:last-child {
  border-right: 1px solid #333;
}

.main-nav li:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #FFEE58;
}
/*--- main navigation end ---*/

/*--- mobile navigation start ---*/
.mobile-nav {
  display: none;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

/*--- mobile navigation style btn start---*/
.mobile-nav__btn {
  display: inline-block;
  position: relative;
  top: 0;
  z-index: 12;
  width: 60px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.mobile-nav__btn span,
.mobile-nav__btn span::after,
.mobile-nav__btn span::before {
  display: block;
  position: absolute;
  width: 38px;
  height: 2px;
  border-left: 6px solid #d6d6d6;
  border-right: 28px solid #fff;
  box-sizing: border-box;
  top: 50%;
  margin-top: -1px;
  transition: 600ms;
  pointer-events: none;
}

.mobile-nav__btn span::after,
.mobile-nav__btn span::before {
  content: '';
  left: -6px;
}

.mobile-nav__btn span::before {
  transform: translateY(-9px) rotate(180deg);
}

.mobile-nav__btn span::after {
  transform: translateY(9px) rotate(180deg);
}

.mobile-nav__checkbox {
  display: none;
}

.mobile-nav__checkbox:checked~ label>.mobile-nav__btn span::before {
  transform-origin: left;
  transform: translate(40px, 15px) rotate(-137deg);
}

.mobile-nav__checkbox:checked~ label>.mobile-nav__btn:hover span::before {
  border-left-color: #e9b8b9;
  box-shadow: 4px 0 6px 1px rgba(205, 40, 44, 0.75);
}

.mobile-nav__checkbox:checked~ label>.mobile-nav__btn span {
  border: none;
}

.mobile-nav__checkbox:checked~ label>.mobile-nav__btn span::after {
  transform-origin: left;
  transform: translate(10px, 15px) rotate(-45deg);
}

.mobile-nav__checkbox:checked~ label>.mobile-nav__btn:hover span::after {
  border-left-color: #ddf1da;
  box-shadow: 4px 0 6px 1px rgba(83, 228, 68, 0.65);
}
/*--- mobile navigation style btn end---*/

/*--- mobile navigation style drow-down list start---*/
.mobile-nav__list {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 8;
  width: 240px;
  min-height: 100vh;
  position: absolute;
  padding: 40px 15px;
  background: no-repeat url("../img/bg_starsRight.jpg") right top;
  transition: transform 0.6s ease-out;
}

.mobile-nav__checkbox:checked~ .mobile-nav__list-wrapper {
  z-index: 7;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mobile-nav__checkbox:checked~ .mobile-nav__list-wrapper>.mobile-nav__list {
  transform: translateX(0);
}

.mobile-nav__list-wrapper {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;  
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile-nav__list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__list li {
  font-family: 'Star Jedi';
  display: block;
  width: 100%;
  color: #aaa;
  border-bottom: 1px solid #333;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 300ms;
}

.mobile-nav__list li:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #FFEE58;
}
/*--- mobile navigation style drow-down list end---*/
/*--- mobile navigation end ---*/
/*--- header end ---*/

/*--- main content start---*/
.content-wrapper {
  position: relative;
  background-color: #151515;
  color: #aaa;
}

.content-wrapper main {
  padding: 50px 15px;
}
/*--- main content end---*/

/*--- media query start ---*/
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .main-nav {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .mobile-nav {
    display: inline-block;
  }

  .main-nav {
    display: none;
  }

  .main-header {
    position: static;
  }

  .main-header__panel_top {
    height: 0;
  }

  .mobile-nav__btn::after {
    content: 'star wars';
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Star Jedi Hollow';
    color: #FFEE58;
    display: inline-block;
    position: fixed;
    top: 1em;
    z-index: 12;
    font-size: 1.4em;
    border: 1px solid #ffee58;
    border-radius: 4px;
    padding: 2px 15px;
    transition: transform 0.6s ease-out;
  }

  .mobile-nav__checkbox:checked~ label>.mobile-nav__btn::after {
    transform: translate(1%, -50%);
  }

  .mobile-nav__btn:hover::after {
    box-shadow: 0 0 6px 1px rgba(255, 238, 88, 0.75);
  }

  .main-header__panel_bottom {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: auto;
  }

  .mobile-nav__btn::after {
    font-size: 1.2em;
    top: 1.1em;
  }

  .mobile-nav__list {
    font-size: 0.8em;
  }
}
/*--- media query end ---*/
